html { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'idroid';
    src: url('idroid.otf');
}

body {
    background-color: #c5ebd6;
}

header { 
    text-align: center;
    font-family: 'idroid', sans-serif;
    background-image: linear-gradient();
}

